@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-tab-header{
    background-color: #673ab7;
    border-radius: 50px;
}

.mat-tab-label .mat-tab-label-content {
    color: white;
    font-weight: bolder;
}