<h2 mat-dialog-title>
  Gráfico de ventas del nodo {{idN}}
</h2>

<div>
  <div style="display: block">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
</div>

<div mat-dialog-actions style="align-self: center;">
  <button style="left: 45%; background-color: crimson; color: white;" mat-button (click)="close()">Cerrar</button>
</div>